body{
  font-family: Arial, sans-serif;
  background:#f2f2f2;
}

.container{
  width:500px;
  margin:auto;
}

.product-list{
  display:flex;
  flex-direction:column;
  gap:20px;
}

.card{
  background:white;
  border:1px solid #ddd;
  border-radius:12px;
  padding:15px;
}

/* Top section */

.card-top{
  display:flex;
  align-items:center;
  gap:15px;
}

.product-img{
  width:60px;
  height:60px;
  object-fit:cover;
  border-radius:8px;
}

.product-info h3{
  margin:0;
  font-size:18px;
}

.policy-id{
  color:gray;
  font-size:14px;
}

/* Bottom section */

.card-bottom{
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top:15px;
}

.price{
  font-size:22px;
  font-weight:bold;
  color:#2a7db8;
}

.buy-btn{
  background:#2f73f0;
  color:white;
  border:none;
  padding:10px 20px;
  border-radius:6px;
  cursor:pointer;
}